@theme {
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-secondary: #8b5cf6;
  --color-secondary-hover: #7c3aed;
  --color-tertiary: #ec4899;
  --color-background: #e8e6e0;
  --color-foreground: #20232b;
  --color-surface: #dddbd4;
  --color-surface-hover: #d3d1ca;
  --color-border: #c6c3ba;
  --color-muted: #d9d7d0;
  --color-muted-foreground: #62656d;
  --color-accent: #f0abfc;
  --color-accent-foreground: #701a75;
  --color-destructive: #ef4444;
  --color-destructive-hover: #dc2626;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;

  --radius-: 0.5rem;
  --font-: var(--font-fira-code), monospace;
  --font-sans: var(--font-fira-code), monospace;
  --font-serif: var(--font-fira-sans), sans-serif;
  --font-mono: var(--font-fira-code), monospace;
}

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
  --color-primary: #818cf8;
  --color-primary-hover: #6366f1;
  --color-secondary: #a78bfa;
  --color-secondary-hover: #8b5cf6;
  --color-tertiary: #f472b6;
  --color-background: #181b21;
  --color-foreground: #eef0f2;
  --color-surface: #22262e;
  --color-surface-hover: #2c313b;
  --color-border: #363b46;
  --color-muted: #292d35;
  --color-muted-foreground: #a7adb8;
  --color-accent: #c084fc;
  --color-accent-foreground: #f5d0fe;
  --color-destructive: #f87171;
  --color-destructive-hover: #ef4444;
  --color-success: #4ade80;
  --color-warning: #fbbf24;
  --color-info: #60a5fa;
}
